<a href="https://www.facebook.com/ellemagazine/?fref=ts" i class="fa fa-facebook" style="font-size:20px;" onMouseOver="this.style.color='grey'"
   onMouseOut="this.style.color='black'"></i>
<a href="https://www.instagram.com/elle_belgie/" i class="fa fa-instagram" style="font-size:20px;" onMouseOver="this.style.color='grey'"
   onMouseOut="this.style.color='black'"></i>
<a href="https://nl.pinterest.com/elle/" i class="fa fa-pinterest" style="font-size:20px;" onMouseOver="this.style.color='grey'"
   onMouseOut="this.style.color='black'"></i>

<a href="https://serene-lowlands-45304.herokuapp.com/">Heroku</a>

  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
