<p style="text-align:center;font-family:courier new, courier, monospace;font-size:10px;color:#666">
<a href="https://serene-lowlands-45304.herokuapp.com/">Heroku</a>
<span style="font-family:arial;font-size:10px;color:#666;">l</span> Made with <span style="color:red">♥</span> In Belgium
</p>

  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <script id="dsq-count-scr" src="//opdracht6.disqus.com/count.js" async></script>

  </body>
</html>
