<!doctype html>
<html>
	<head>
		<title>Arté</title>
		<h4>Arté</h4>

		<section>
			<h3>Welkom</h3>
		<p>
			In ons museum zijn er slechts 10 topstukken die je het verhaal vertellen van 800 jaar kunst en geschiedenis van de Middeleeuwen, verrassend gepresenteerd in een indrukwekkend gebouw.
		</p>

		<nav>
				 <a href="/tickets/">Tickets</a>
				 <a href="/contact/">Contact</a>
				 <a href="/info/">Info</a>
		</nav>

	</section>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
