body {
  font-family: helvetica;
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
}

section {
  margin: 10vh auto;
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
  background: white;
  padding: 30px;
}

img {
  max-width: 100%;
}

p {
  margin: 10px 0;
  font-size: 0.8em;
  line-height: 1.2em
}

h2 {
  margin: 25px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

h2 a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

h2 a:hover {
  color: lightgrey;
  font-weight: bold;
}

h3 {
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

h4 {
  padding: 30px 0px 0px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

b {
  font-weight: 700;
}

nav {
height: 50px;
margin: 50px 0px;
text-align: center;
margin-top: 80px;
}

h1 {
  text-align: center;
  margin-top: 80px;
}

h1 a{
  color: lightgrey;
  margin-right: 10px;
  margin-left: 20px;

  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid lightgrey;
  padding: 10px;
}

h1 a:hover{
  color:lightgrey;
  border: 2px solid lightgrey;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
}

nav a {
  color: lightgrey;
  margin-right: 10px;
  margin-left: 20px;

  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: 2px solid lightgrey;
  padding: 10px;
}

nav a:hover {
  color:lightgrey;
  border: 2px solid lightgrey;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
  transition: .6s ease;
}

.fa {
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px;
  color:black;
}

/*ZOEKBALK*/

/*tekst opmaak artikelen test*/
titel {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

titel:hover {
  color: lightgrey;
}

categorieen {
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  white-space: nowrap !important;
}
/*conclusie werkt niet*/
